header {
  background: black;
  color: white;
  text-align: left;
  font-style: italic;
  font-family: 'Roboto', sans-serif;

}
.page-header2 {
  height: 5px;
}
.jumbotron{
    background-color:#2E2D88;
    color:white;
}
.container {
  background: black;
border: 1px solid red;

}
article {
  color: red;
}
item {
  align-items: center;
}
@import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css');

#myCarousel {
  margin-top: 40px;
}

.carousel-linked-nav,
.item img {
  display:inline;
  margin: 0 auto;
}
div {
  text-align: center;
}

.carousel-linked-nav {
  width: 120px;
  margin-bottom: 20px;
}
.ul {
  display: inline;
}

.nav{

text-align: right;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: red;
}
.body {

  font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Fresca', sans-serif;
}


.motto {
    font-style: italic;
  font-stretch: expanded;
}
banner {
  position:fixed;
  margin:0;
  width:300px;
  height:250px;
  border: 1px solid red;
  overflow: hidden;
}
.video{


  position: center;
  background-color: : black;
  width: auto !important;
  height: auto !important;
  background: url('https://player.vimeo.com/external/143052492.sd.mp4?s=c32a3e6aff1c6bc21ad76deef0bd164ab8ee5c86&profile_id=112"');
  background-size: cover;
  transition: 1s opacity;
  z-index:-1;
}
li {
  display: inline;
}

img {
  margin: 5px;

}

footer {
  background: blue;
  font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Fresca', sans-serif;
font-family: 'Rationale', sans-serif;
font-size: 20px;
color: black;
}
